/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  width: 300px;
  margin: 0 auto;
  
}

h1, h2 {
  font-family: 'Faster One', cursive;
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
}

/* section styles */

section article{
  background-image: url("background.jpg");
  margin-bottom: 10px;
}
section p {
  margin: 5px 5px 5px 5px;
  text-align:center;
}

section p.author {
  text-align:center;
}

section p.content {
  letter-spacing: 5px;
  font-size: 1.8rem;
}

section p.title {
  font-size: 2rem;
  letter-spacing: 2px;
}

section p.words {
  letter-spacing: 5px;
  color: orange;
  text-align:left;
  margin-left: 20px;
}

section p.date {
  text-align:left;
}